<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>   
     <add key ="nameDB" value="\GameStat.mdb"/>
    <add key="Ip" value="10.3.11.9"/>
    <add key ="provider" value="System.Data.OleDb"/>
   <add key ="conString"
         value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source="/>
 
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>